.app-container {
    /*min-height: 350px;*/
    height: 1100px;
    text-align: center;
    margin: 0 60px;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}
